table {
    table-layout: auto;
}

tr:nth-child(even) td {
    background-color: #f2f2f2;
}
tr > td:nth-child(2) ul {
    min-width: 10rem
}
tr > td {
    font-size: 14px;
    min-width: 5rem;
}

.browse-controls {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 3rem);
    margin-bottom: -2.75rem;
}

.browse-controls nav.pagination {
    display: inline-flex;
}

.browse-controls .button {
    margin-left: 1rem;
}

.sidebar-group {
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 11px;
    margin-bottom: 12px;
}

.sidebar-group .collapsible {
    margin-left: 12px;
}

.sidebar .expand,
.sidebar .collapse {
    display: flex;
    justify-content: space-between;
}

.sidebar .expand h4 {
    font-weight: normal;
}

.sidebar .collapse h4 {
    font-weight: bold;
}

.sidebar .collapse {
    border-bottom: 3px solid #dfdfdf;
    padding-bottom: 3px;
    margin-bottom: 12px;
}

.sidebar .collapsible .field-meta {
    border-bottom: 0;
    margin-bottom: 0;
}

.sidebar .collapsible .field-meta label {
    font-weight: normal;
    padding-bottom: 0;
}

.event-id {
    max-width: 3rem;
}

.event-user a,
.event-name {
    min-width: 7rem;
    word-break: break-all;
}

.tablesaw-swipe .tablesaw-swipe-cellpersist.event-id {
    border-right: 0;
}

@media screen and (max-width: 640px) {
  .tablesaw tr:nth-child(odd) td:first-of-type {
    background-color: transparent;
  }
}
