main {
  padding: $global-padding;
}

header a.logo {
  padding: $global-padding;
}

.blocks .large.file {
  width: 100%;
  margin: $global-margin 0;
  max-width: none;
}

.sub-menu {
  margin: 0 0 (4 * $global-margin);
  width: 100%;
}

.sub-menu:after {
  border-left: calc(50vw - #{1.5 * $global-padding}) solid transparent;
  border-right: calc(50vw - #{1.5 * $global-padding}) solid transparent;
}

.blocks > h2:first-child {
  font-size: 1.5 * $global-font-size;
  margin-bottom: $global-margin;
}

footer {
  padding: $global-padding;
}