$body-font-family: "Montserrat", sans-serif;
$header-font-family: "Nunito Sans", sans-serif;
$header-font-weight: 900; 

$global-font-size: 18px;

$foundation-palette: (
  primary: #5b8a4a,
  secondary: #deea8e,
  success: #5b8a4a,
  warning: #d6dba0,
  alert: #777000,
);

/* 

$foundation-palette: (
  primary: #cc4944,
  secondary: #fff100,
  success: #adb23b,
  warning: #ff9b00,
  alert: #cc4944,
);

*/