.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
  }

  @media (min-width: 1024px) {
	.bd-placeholder-img-lg {
	  font-size: 3.5rem;
	}
  }

  header {
	padding: 6px;
  }
  header h6{
	font-size: 0.9em;
  }
  header li{
	font-size: 0.8em;
  }
  .fondBloc {
	background-color: #343A40;
  }
.menuActive a{
	color: #71C9FF;
	font-weight: bold;
	text-decoration:none;
}
.menuPassive a{
	color: #FFD53B;
	font-weight: bold;
	text-decoration:none;
}
main {
	background-color:	#d6d8d9;
	color: black;
}
.link {
	fill: none;
	stroke: lightsteelblue;
	stroke-width: 2px;
}

.wordwrap {
	white-space: pre-wrap; /* CSS3 */
	white-space: -moz-pre-wrap; /* Firefox */
	white-space: -pre-wrap; /* Opera <7 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* IE */
}

.node-text {
	font: 10px sans-serif;
	color: rgb(0, 0, 0);
	text-align: center;
}

.titreQuestion{
	color:white;
	padding: 0.2em;
}

.txtTitreAxe0{
    fill:rgb(3, 246, 162);
}
.txtTitreAxe90{
    fill:rgb(252, 161, 205);
}
.txtTitreAxe180{
    fill:rgb(84, 214, 255);
}
.txtTitreAxe270{
    fill:rgb(173, 158, 253);
}
.txtTitreAxehaut{
  fill:white;
}
.txtTitreAxebas{
  fill:white;
}
.axis line {
  fill: none;
  stroke: white;
  stroke-width:6px;
}  
.x.axis path {
    fill: none;
    stroke: url(#degraxeH);
    stroke-width:6px;
}  
.y.axis path {
    fill: none;
    stroke: url(#degraxeV);
    stroke-width:6px;
}  
.cFond{
  stroke-opacity:0.5;
  fill:none;
  stroke:url(#degradCenter);
  stroke-width:3px;
}
#orbit1{
  fill:url(#degradCenter);
  stroke:none;
}
#orbit4{
  stroke-width:6px;
}